.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

/* 右上に更新時刻を表示 */
.last-updated {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
}

.error-message p {
  margin: 5px 0;
}
